# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables / secrets
.env
*.env





# Flask cache/logs
instance/
*.log

# Compiled static files
*.map


*.sqlite3
*.db


node_modules/


dist/
build/