{% extends "base.html"%}{% block title %}Home{% endblock %}
{% block content%}


<div class="contact_us">
    <h1>Contact Us</h1>
    <div class="contact_details">
        <p class="core">Office hours:</p>
        <p class="details">8:00AM - 8:00PM</p>
        <p class="core">Contacts:</p>
        <p class="details"><i class='bx bxl-whatsapp'></i> +234 812 23 234</p>
        <p class="details"><i class='bx bxl-gmail'></i> T-best@gmail.com</p>
        <p class="details"><i class='bx bxl-instagram-alt'></i> @T-bestNG</p>
        <p class="details"><i class='bx bxl-facebook-circle'></i> @T-bestNG</p>
    </div>
    <div class="contact_form" >
        <form action="https://formsubmit.co/zikorapascal@gmail.com" method="POST">
            <legend>Contact form</legend>
            
            <label for="">Name:</label><br>
            <input type="text" placeholder="Please input your name"><br>
            <label for="">Email:</label><br>
            <input type="email" placeholder="Input your email"><br>
            <label for="message">Message:</label><br>
            <input type="text" class="message">
            <br>
            <button class="button">Submit</button>

        </form>
    </div>

</div>
<script>
            const menuToggle = document.getElementById('menu-toggle');
            const navbar = document.getElementById('navbar');
            const menuIcon = document.getElementById('menu-icon');
        
            menuToggle.addEventListener('click', () => {
                navbar.classList.toggle('active');
        
                // Toggle the icon
                if (navbar.classList.contains('active')) {
                    menuIcon.classList.remove('bx-menu');
                    menuIcon.classList.add('bx-x');
                } else {
                    menuIcon.classList.remove('bx-x');
                    menuIcon.classList.add('bx-menu');
                }
            });
           </script> 

{% endblock%}