{% extends "base.html"%}{% block title %}Home{% endblock %}
{% block content%}
<header class="header">
    <a href="#" class="Logo">FastCars.</a>
      <div class="menu-toggle" id="menu-toggle">
            <i class='bx bx-menu' id="menu-icon"></i>
        </div>

    <nav class="navbar">
        <a href="/"  style="--i:1">Home</a>
        <a href="#" style="--i:2">About</a>
        <a href="#" style="--i:3">Review</a>
        <a href="#" style="--i:4">Features</a>
        <a href="/contact" class="active" style="--i:5">Contact</a>
    </nav>
    <div class="social">
        <button id="reg"  style="--i:1"><a href="/sign-up">sign-up</a></button>
        <button id="log"  style="--i:2"><a href="/login">Log in</a></button>
    </div>
  

    <!-- <div class="social-media">
        <a href="#" style="--i:1"><i class='bx bx-user'></i></a>
        <a href="#" style="--i:2"><i class='bx bxl-facebook'></i></a>
        <a href="#" style="--i:3"><i class='bx bxl-instagram-alt'></i></a>
    </div> -->

</header>

<div class="contact_us">
    <h1>Contact Us</h1>
    <div class="contact_details">
        <p class="core">Office hours:</p>
        <p class="details">8:00AM - 8:00PM</p>
        <p class="core">Contacts:</p>
        <p class="details"><i class='bx bxl-whatsapp'></i> +234 812 23 234</p>
        <p class="details"><i class='bx bxl-gmail'></i> T-best@gmail.com</p>
        <p class="details"><i class='bx bxl-instagram-alt'></i> @T-bestNG</p>
        <p class="details"><i class='bx bxl-facebook-circle'></i> @T-bestNG</p>
    </div>
    <div class="contact_form" >
        <form action="">
            <legend>Contact form</legend>
            
            <label for="">Name:</label><br>
            <input type="text" placeholder="Please input your name"><br>
            <label for="">Email:</label><br>
            <input type="email" placeholder="Input your email"><br>
            <label for="message">Message:</label><br>
            <input type="text" class="message">
            <br>
            <button class="button">Submit</button>

        </form>
    </div>

</div>
<script>
            const menuToggle = document.getElementById('menu-toggle');
            const navbar = document.getElementById('navbar');
            const menuIcon = document.getElementById('menu-icon');
        
            menuToggle.addEventListener('click', () => {
                navbar.classList.toggle('active');
        
                // Toggle the icon
                if (navbar.classList.contains('active')) {
                    menuIcon.classList.remove('bx-menu');
                    menuIcon.classList.add('bx-x');
                } else {
                    menuIcon.classList.remove('bx-x');
                    menuIcon.classList.add('bx-menu');
                }
            });
           </script> 

{% endblock%}