
{% extends "base.html"%}
{% block content%}


<body style="background: #7A73D1;">
    <!-- <header class="header">
        <a href="#" class="Logo">FastCars.</a>

        <nav class="navbar">
            <a href="/"  style="--i:1">Home</a>
            <a href="/contact" style="--i:2">Contact</a>
        </nav>

        <div class="social-media">
            <a href="#" style="--i:1" class="active"><i class='bx bxl-twitter'></i></a>
            <a href="#" style="--i:2"><i class='bx bxl-facebook'></i></a>
            <a href="#" style="--i:3"><i class='bx bxl-instagram-alt'></i></a>
        </div>
    </header> -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}

          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
    <section class="Login">
        <div class="Login_img">
            <img src="{{url_for('static', filename='images/10815908.png')}}" alt="">
        </div>
        <div class="Login-form">
            <h1>Welcome Back</h1>
            <form action="">
                <label for="email">Enter Email</label>
                <input type="email" name="email" id="" placeholder="name@email.com">
                <br>
                <label for="password">Enter Password</label>
                <input type="password" name="password" placeholder="password">
                <p id="reset"><a href="">Reset password</a></p>
                <button type="submit">Sign in</button>

                <p>Don't have an account?  <a style="cursor: pointer;"  onclick="window.location.href='register.html'"> Create an account</a></p>
            </form>
        </div>
    </section>
    <div class="custom-shape-divider-top-1742059459">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
</body>
{% endblock %}    

</html>