
{% extends "base.html"%}{% block title %}Home{% endblock %}
{% block content%}
<body style="background: #7A73D1;">
    <header class="header">
        <a href="#" class="Logo">FastCars.</a>

        <nav class="navbar">
            <a href="/"  style="--i:1">Home</a>
            <a href="/contact" style="--i:2">Contact</a>
        </nav>

        <div class="social-media">
            <a href="#" style="--i:1" class="active"><i class='bx bxl-twitter'> </i></a>
            <a href="#" style="--i:2"><i class='bx bxl-facebook'></i></a>
            <a href="#" style="--i:3"><i class='bx bxl-instagram-alt'></i></a>
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}

          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
    <section class="Login">
        <div class="Login_img">
            <img src="{{url_for('static', filename='images/10815908.png')}}" alt="">
        </div>
        
        <div class="Login-form">
            <h1>Welcome to Fast Cars</h1>
            <p>Best Car renting experience</p>
            <form method="POST">
                <label for="firstname">Enter your First name</label>
                <input type="text" name="firstname" id="Firstname" placeholder="eg. John"><br>
                <label for="Lastname">Enter your Last name</label>
                <input type="text" name="Lastname" id="Lastname" placeholder="Last Name"><br>
                <label for="Phone Number">Input Phone Number</label>
                <input type="number" id="PhoneNumber" name="PhoneNumber" placeholder="+234 80-123-23-234"><br>
                <label for="email">Enter your email</label>
                <input type="email" name="email" id="email" placeholder="johnret@gmail.com"><br>
                <br>
                <label for="password1">Enter password</label>
                <input type="password"  id="password1"
                name="password1" placeholder=""><br>
                 <label for="password2">re-Enter password</label>
                <input type="password"id="password2"
                name="password2" placeholder=""><br>
                
                <button type="submit">Sign in</button>

                <p>Already have an account <a style="cursor: pointer;"  onclick="window.location.href='login.html'">Log-in to account</a></p>
            </form>
            
             
        </div>
        
    <div class="custom-shape-divider-top-1742059459">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    
        
    </section>


    {% endblock %}
